<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 日志文件路径 -->
    <!--
      <springProperty scope="context" name="logPath" source="logging.path"/>
      -->
    <!-- 应用名称 -->
    <!--
    <springProperty scope="context" name="appCapitalName" source="spring.application.capitalname"/>
      -->
    <!-- 多环境 -->
    <!--
    <springProperty scope="context" name="scope" source="spring.profiles.active"/>
    -->

    <property resource="application.properties" />
    <property scope="context" name="logPath" value="${logging.path}" />
    <property scope="context" name="appCapitalName" value="${application.name}" />
    <property scope="context" name="scope" value="${profiles.active}" />

    <appender name="stdOut" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread | [%X{X-B3-TraceId}] | %-5level %logger{50} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <!-- 文件名：系统名(大写英文缩写)_ALL(模块名，无则用ALL代替) -->
        <file>${logPath}/${scope}/${appCapitalName}_ALL.log</file>
        <encoder>
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread | [%X{X-B3-TraceId}] | %-5level %logger{50} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${scope}/${appCapitalName}_ALL.%d{yyyyMMdd}.log.zip</fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdOut"/>
        <appender-ref ref="fileAppender"/>
    </root>

</configuration>
